
   <div class ="container">
    <h1> LOG IN</h1>
    
    <form action ="index.html" method = "post">
        <div class ="tbox">
            <input type ="text" placeholder ="@username" value ="">
        </div>
        
         <div class ="tbox">
            <input type ="password" placeholder="password" value ="">
        </div>
        
        <input class ="btn" type ="submit" name="" value="LOG IN">
    </form>
    <a class="b1" href="#">FORGOTPASSWORD ?</a>
     <a class="b2" href="#">CREATE AN ACCOUNT</a>

    </div>